{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Shop For Discount-About Us {% endblock %}


{% block body %} 

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Shop For Discount</h1>
        <p>
          Shop For Discount - Welcomes you all.This platform will give you the best deals on all Products and ensures fastest delivery right at your doorstep.Our all delivery agents ensure to give the safe delivery
          to our every customer.

          <h2>"Our motto is - Happy Customers Happy We."</h2>

        </p>
        <p><a class="btn btn-primary btn-lg" id="bt" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Everyday Offers</h2>
          <p>Here you will get everyday amazing deals with best offers and discounts.You can view Various products by visiting <a href="/shop/">Home.</a> </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Fast and Safe Delivery</h2>
          <p>We ensure you to deliver your product at the earliest with full safety and that too absolutely free delivery.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Better Support System</h2>
          <p>Our system runs 24x7.So if you need any help regarding tracking of your order or payment related,you can contact us through <a href="/shop/contactus/">Contact Us.</a></p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  <footer class="container">
    <p>&copy; Company 2017-2020</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
  </html>

{% endblock %}
